$primary_font:'Times New Roman', serif;
$first_color: #041420;
$second-color: #e7ac82;
$bordercolor:#000000;
a{
    text-decoration: none;
    color: white;
    font-style: $primary_font;
}
.nave-bar{
    padding-bottom: 10px;
    background-color: #2c3a46;
    .line{
        padding: 10px;
    }
    hr{
        width: 1000px;
        margin-bottom: 5px;
        border: 10px solid $second-color;
        border-radius: 5px;
        
    }
   
    ul{
        
      

        display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
       
        list-style-type: none;
        li{
            color: white;
        }
      
    }
    
nav{
    border-style: solid;
    border-top-style: solid $bordercolor;
    border-left-style: solid $bordercolor;
    border-right-style: solid $bordercolor;

  border-width: 2px;
}
}
.headerr{
    display:flex;
    flex-direction: column;
    
    height: 900px;
    background-image: url("3355386.jpg");
    background-size: cover;
    .contact{
        h3{
            background-color: #00000094;
        border-style: solid none solid solid;
        border-width: 5px;
        border-color: $second-color ;
        }
        padding-left: 900px ;
        font-family: $primary_font;
        font-size: 50px;
        color: white;
    }
    .myadd{
        h3{
        display: inline-block;
        color: white;
        font-family: $primary_font;
        font-size: 50px;
        padding-bottom: 10px;
        padding-top: 10px;
        }
.loc{
    display: inline-block;
    width: 67px;
    height: 70px;
    padding-bottom: 0px;
        padding-top: 10px;
}
    

    }
    .mp{
        iframe{
            width: 500px;
            height: 300px;
            border:0;
        padding-left: 50px;
    }
    }
    .phnema{
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding-left: 870px;
        
            .phone{
                padding-right: 170px;
            }
            .ma{
                padding-right: 60px;
            }
        
        
        img{
            background-color: $first_color;
            
            border-style: none none solid none;
        border-width: 5px;
        border-color: $second-color ;

            width: 90px;
            height: 90px;
        }
    }
    .lin{
        padding-left: 970px;
        padding-top: 20px;
        img{
            border-style: none none solid none;
        border-width: 5px;
        border-color: $second-color ;
            width: 90px;
            height: 90px;
            
        }
    }
}
.footer {
    margin-top: auto;
    background: linear-gradient(90deg, $second-color, #FFD700);
    text-align: center;
    padding: 15px 20px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.footer a {
    color: #fff;
    text-decoration: none;
    font-weight: normal;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #000;
}

